<form action="/edit-supplier/<%= @supplier.id  %>" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="<%= @supplier.name  %>">
  <input type="submit" value="Update Supplier">
</form>
