<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TESM</title>
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="nav-wrapper">
      <nav class="nav-panel">
        <ul>
          <li><img src="/images/main_logo.png" class="logo" alt="TESM logo"></li>
          <li><a href="/">
            <img src="/images/home_icon.png" class="icon" alt="home logo">
          </a></li>
        </ul>
      </nav>
    </div>

    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
