<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TESM</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" href="/images/favicon.png" />
  </head>
  <body>
      <nav class="sidenav">
        <ul>
          <li>
            <a href="/">
              <img src="/images/main_logo.png" class="logo" alt="TESM logo">
            </a>
            </li>
          <li>
            <a href="/" class="nav-link">
              <figure class="nav-icon">
                <img src="/images/home.svg" alt="home logo">
                <p>Home</p>
              </figure>
            </a>
          </li>
          <li>
            <a href="/add-item" class="nav-link">
              <figure class="nav-icon">
                <img src="/images/add.svg" alt="add item icon">
                <p>Add Item</p>
              </figure>
            </a>
          </li>
          <li>
            <a href="/suppliers" class="nav-link">
              <figure class="nav-icon">
                <img src="/images/supplier.svg" alt="view suppliers icon">
                <p>Suppliers</p>
              </figure>
            </a>
          </li>
          <li>
            <a href="/add-supplier" class="nav-link">
              <figure class="nav-icon">
                <img src="/images/add.svg" alt="add supplier icon">
                <p>Add Supplier</p>
              </figure>
            </a>
          </li>
          <li>
            <a href="/schools" class="nav-link">
              <figure class="nav-icon">
                <img src="/images/school.svg" alt="view schools icon">
                <p>Schools</p>
              </figure>
            </a>
          </li>
          <li>
            <a href="/add-school" class="nav-link">
              <figure class="nav-icon">
                <img src="/images/add.svg" alt="add school icon">
                <p>Add School</p>
              </figure>
            </a>
          </li>
        </ul>
      </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
