<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TESM</title>
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="nav-wrapper">
      <nav class="nav-panel">
        <ul>
          <li>
            <a href="/">
              <img src="/images/main_logo.png" class="logo" alt="TESM logo">
            </a>
            </li>
          <li>
            <a href="/">
              <img src="/images/home_icon.png" class="icon" alt="home logo">
              Home
            </a>
          </li>
          <li>
            <a href="/add-item">
              <img src="/images/home_icon.png" class="icon" alt="add item icon">
              Add Item
            </a>
          </li>
          <li>
            <a href="/suppliers">
              <img src="/images/home_icon.png" class="icon" alt="view suppliers icon">
              Suppliers
            </a>
          </li>
          <li>
            <a href="/add-supplier">
              <img src="/images/home_icon.png" class="icon" alt="add supplier icon">
              Add Supplier
            </a>
          </li>
          <li>
            <a href="/schools">
              <img src="/images/home_icon.png" class="icon" alt="view schools icon">
              Schools
            </a>
          </li>
          <li>
            <a href="/add-school">
              <img src="/images/home_icon.png" class="icon" alt="add school icon">
              Add School
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
