<form action="/add-school" method="post">
  <label for="icon-url">Icon URL:</label>
  <input type="text" name="icon_url" id="icon-url">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name">

  <label for="description">Description:</label>
  <textarea name="description" id="description"></textarea>

  <input type="submit" value="Create">
</form>
