<form action="/edit-school/<%= @school.id  %>" method="post">
  <table>
    <tr>
      <td colspan="2" class="form-title"><h2>Edit School</h2></td>
    </tr>

    <tr>
      <td><label for="icon-url">Icon URL:</label></td>
      <td><input type="text" name="icon_url" id="icon-url" value="<%= @school.icon_url  %>"></td>
    </tr>

    <tr>
      <td><label for="name">Name:</label></td>
      <td><input type="text" name="name" id="name" value="<%= @school.name  %>"></td>
    </tr>

    <tr>
      <td><label for="description">Description:</label></td>
      <td><textarea name="description" id="description" rows="10" cols="75"><%= @school.description  %></textarea></td>
    </tr>

    <tr>
      <td colspan="2" class="btn"><input type="submit" value="Update"></td>
    </tr>
  </table>
</form>
