<% @schools.each{ |school| %>
  <div class="school-tile">
    <img src="<%= school.icon_url %>" alt="<%= school.name %> icon">

    <h2>Name: <%= school.name %></h2>
    
    <p>Description: <%= school.description %></p>
    <hr/>
  </div>
<% } %>
