<% @schools.each{ |school| %>
  <div class="school-tile">
    <img src="<%= school.icon_url %>" alt="<%= school.name %> icon">
    <p>Name: <%= school.name %></p>
    <p>Description: <%= school.description %></p>
    <hr/>
  </div>
<% } %>
