<form action="/add-school" method="post">
  <label for="icon-url">Icon URL:</label>
  <input type="text" name="icon_url" id="icon-url">

  <label for="description">Description:</label>
  <textarea name="description" id="description"></textarea>

  <label for="buy-price">Icon URL:</label>
  <input type="text" name="icon_url" id="buy-price">



  <input type="submit" value="Create School">
</form>
