<form action="/add-item" method="post">
  <table>
    <tr>
      <td colspan="2" class="form-title"><h2>Add Item</h2></td>
    </tr>

    <tr>
      <td><label for="name">Name:</label></td>
      <td><input type="text" name="name" id="name"></td>
    </tr>

    <tr>
      <td><label for="description">Description:</label></td>
      <td><textarea name="description" id="description" rows="10" cols="75"></textarea></td>
    </tr>

    <tr>
      <td><label for="buy-price">Buy Price:</label></td>
      <td><input type="number" name="buy_price" id="buy-price" min="0"></td>
    </tr>

    <tr>
      <td><label for="sell-price">Sell Price:</label></td>
      <td><input type="number" name="sell_price" id="sell-price" min="0"></td>
    </tr>

    <tr>
      <td><label for="school">School:</label></td>
      <td><select name="school_id">
          <% @schools.each{ |school| %>
          <option value="<%= school.id %>"><%= school.name %></option>
          <% } %>
        </select></td>
    </tr>

    <tr>
      <td><label for="supplier">Supplier:</label></td>
      <td><select name="supplier_id">
        <% @suppliers.each{ |supplier| %>
        <option value="<%= supplier.id %>"><%= supplier.name %></option>
        <% } %>
      </select></td>
    </tr>

    <tr>
      <td><label for="quantity">Stock:</label></td>
      <td><input type="number" value="0" name="quantity" id="quantity" min="0"></td>
    </tr>

    <tr>
      <td colspan="2" class="btn"><input type="submit" value="Create"></td>
    </tr>

  </table>
</form>
